{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>


  <link rel="stylesheet" href="{% static "blog/css/sanitize.css" %}" />
  <link rel="stylesheet" href="{% static "blog/css/main.css" %}" />
</head>
<body class="is-dark">
  <header class="header">
    <h1 class="header-title">
      <a class="header-title-link" href="/">Blog</a>
    </h1>

    <div class="flex-separator"></div>

    <nav class="header-nav">
      <a class="header-nav-item" href="/">Home</a>
      <a class="header-nav-item" href="/posts/new">Add new post</a>

      {% if request.user.is_authenticated %}
        <a class="header-nav-item" href="/profile">Profile</a>
        <a class="header-nav-item" href="/logout">Logout</a>
      {% else %}
        <a class="header-nav-item" href="/login">Sign in</a>
        <a class="header-nav-item" href="/register">Sign up</a>
      {% endif %}
    </nav>
  </header>

  <main class="main">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
