{% extends "layout.html" %}

{% block content %}
  <h1>Log-in</h1>
  <p>Please, use the following form to log-in:</p>
  <form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Log in"></p>
  </form>
  <p></p><a href="{% url "password_reset" %}">Reset your password</a></p>

  <p><strong>-- OR --</strong></p>

  <p>
    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
  </p>
{% endblock %}