{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Homepage</title>

  <link rel="stylesheet" href="{% static "blog/css/sanitize.css" %}" />
  <link rel="stylesheet" href="{% static "blog/css/main.css" %}" />
</head>
<body class="is-dark">
  <h1>Welcome</h1>

  <a href="/blog/">Blog</a><br>
  <p>
    <ul>
      <li><b><a href="/api/v1/">/api/v1/</a></b> tworzenie postów, brak autoryzacji</li>
      <li><b>/api/v1/:id_posta</b> Szczegóły posta</li>
      <li><b><a href="/api/v1/users/">/api/v1/users/</a></b> Tworzenie użytkownika; wymagana autoryzacja</li>
      <li><b>/api/v1/users/:id_usera</b> Podgląd użytkownika</li>
    </ul>
  </p>
</body>
</html>
